<!DOCTYPE html>
<html>
<head>
  <title>University Projects</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<!-- ADMIN or STUDENT LOGIN -->
<% if current_user.admin? %>
  <h1 class="flow-text center-align">Your Active Projects</h1>
<% else %>
  <h3>Choose A Session to Participate In:</h3>
<% end %>

<!-- ADMIN CONTROLLER -->
<% @projects.each do |project| %>
<% if current_user.admin? %>

    <div class ="row ">
    <div class="col s5">
    <p class="flow-text center-align"><%= project.title %></p>
      <div class="card horizontal teal accent-1 card-panel hoverable">
        <div class="card-stacked ">
          <div class="card-content">
            <h6  > <%= project.description%> </h6>
            <tr>

              <td><%= link_to project_path(project) do %>
                <i class="material-icons right">pageview</i>
              <% end %>
              </td>

              <td><%= link_to edit_project_path(project) do %>
                <i class="material-icons right">edit</i>
                <% end %>
              </td>

              <td><%= link_to project_path(project), method: :delete, data: {confirm: 'Are you sure?' } do %>
                <i class="material-icons right">delete</i>
                <% end %>
              </td>
            </tr>
            </div>
          </div>
        </div>
      </div>
    </div>

<% end %>
<% end %>

<!-- STUDENT LOGIN -->
<% if current_user.admin? == false %>
  <p class="flow-text center-align">Choose A Project</p>
<% end %>

<!-- UNSUBSCRIBED STUDENT CONTROLLER -->
<% @projects.each do |project| %>
<% if current_user.admin? == false && current_user.projects.exclude?(project) %>
<table>
    <tr>
      <td> <%= project.title%> </td>
      <td> <%= project.description%> </td>
      <td><%= render partial: 'subscribe', locals: {project: project } %></td>
    </tr>
    <% end %>
  <% end %>
</table>

<!-- STUDENT LOGIN -->
<% if current_user.admin? == false %>
  <h3>Current Sessions:</h3>
<% end %>

<!-- SUBSCRIBED STUDENT CONTROLLER -->
<% @projects.each do |project| %>
<% if current_user.admin? == false %>

  <div class ="row ">
    <div class="col s5">
    <p class="flow-text center-align"><%= project.title %></p>
      <div class="card horizontal teal accent-1 card-panel hoverable">
        <div class="card-stacked ">
          <div class="card-content">
            <tr>
              <td> <%= project.description%> </td>
              <td><%= link_to "Project Details", project_path(project) %></td>
              <td><%= render partial: 'unsubscribe', locals: { project: project } %></td>
            </tr>
              <td><%= link_to project_path(project) do %>
                <i class="material-icons right">pageview</i>
              <% end %>
              </td>
            </tr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>

</body>
</html>
